<pre>
::::::::::::::::::::::::,:::,,:::,,:::::,,,,,,,,:::::::::::::::::::::::::::~:~~~
:::::::::::::::::::::::,,,,,,,,,,,::,:,:,,,:,,:,::::::::::::::::::::::::::::::::
:::::::::::::::::,,,,,,,,,,,,,,,,:::=8DN88Z7~:,:::::::::::::::::::::::::::::::::
::::::::::::::::,:,,:,,,,,,,:,,+ODNOO8888D8O8ZZ7I:,,,:::::::::::::::::::::::::::
:::::::::::::::,,,,,,,,,,,,,,78NDD8NDNDDDZZZOOZDMDO7==,:::::::::::::::::::::::::
:::::::::::,:,,,,,,,,,,,,,:$NM88DDDD88NDZ$777ZZODDMNND?:::::::::::::::::::::::::
:::::::::::::,,,,,,,,,,,,:ND88ODD888DDDZ$OOZ7I7$IIZNMM8Z::::::::::::::::::::::::
::::::::,,::,,,,,,,,,,,,~8DD88O8O88888O87?+==+=+=~~=ZMNO::::::::::::::::::::::::
::::::::,,,,,,,,,,,,,,,:DM8D87$O77$Z7??+=~~:::::::::~ZNOO?,,,:::::::::::::::::::
::::::::,,,,,,,,,,,,,,:ODMM87N+?II??++=~~~:::::::::::~OND87,,,::::::::::::::::::
::::::::,,,,,,,,,,,,,:$MMDOO???+++++=~~~::::::::::::::?N8OZZ?:,:::::::::::::::::
::::,,,,,,,,,,,,,,,,::NMNO?++++~+=+~~~~~::::::::::::::~ZMZ8N?~::::::::::::::::::
::::,,,,,,,,,,,,,,,,,=MMN7?++=++~===~~=~~~:~::~:::::::~?M8888:::::::::::::::::::
:::::,,,,,,,,,,,,,,,,+NN87+++++=====~~~~~~~~~:::::::::~+M8NN8:::::::::::::::::::
,:::,,,,,,,,,,,,,,,,:8MM8I?++=======~~~~~~~~::::::::::~?ONDMD:,,::::::::::::::::
,:::,,,,,,,,,,,,,,,,,DMM8I++++=======~~~~~~~~~~:~:~:::~?DDNMD,:,::::::::::::::::
:::,,,,,,,,,,,,,,,,,:~MM8?+?+=77$8O$?++=====?7$O???~=:~=NDMN$,,,,:::::::::::::::
::,,,,,,,,,,,,,,,,,,,,=MN???7$$7I+I7$7I+==+II7II??=++~~~DMM=:,,,,:::::::::::::::
::,,,,,,,,,,,,,,,,,,,,+ND???77O8MMD8NO7?=~+$Z8+N8DO+~=~=8N?,,,,,,:::::::::::::::
:,,,,,,,,,,,,,,,,,,,,,:MO?I+?+++=??????+~~~+?II=~==~:~=~8D~,,,,,,:::::::::::::::
:,,,,,,,,,,,,,,,,,,,,,,8$I?====+?+++++++~~~~~++===~:~~~=8D:,,,,,,:::::::::::::::
:,,,,,,,,,,,,,,,,,,,,,,=7?++====~~===++=~:=~~~~~~~:~~~~=$=,,,,,,,:::::::::::::::
:,,,,,,,,,,,,,,,,,,,,,,~$??++=~~~~~=+++=~~~~~~~~~~:~~~~=~=,,,,,,,:::::::::::::::
:,,,,,,,,,,,,,,,,,,,,,,~7+?+?+===?$O?=+=~~=~~+$7+==~~=~~=,,,,,,,,:::::::::::::::
:,,,,,,,,,,,,,,,,,,,,,,.?+??I???77II77?=~:~~II?IOI+===~~=,,,,,,,,,::::::::::::::
:,,,,,,,,,,,,,,,,,,,,,,,:??I?I7OZ$7ZDD88$$O88$777$Z+=+~~:,,,,,,,,,::::::::::::::
:,,,,,,,,,,,,,,,,,,,,,,,,??I??Z8OZ$$ZO87ZZ$Z$$777$OZ+==~:,,,,,,,,,::::::::::::::
:,,,,,,,,,,,,,,,,,,,,,,,,=?I?+OZO8MMOI$~7~?::IDZ7D$===~~,,,,,,,,,:::::::::::::::
:,,,,,,,,,,,,,,,,,,,,,,,,,I??++7I=?DNIZ=I=ZON+=~+7?=~~=~,,,,,,,,,:::::::::::::::
,,,,,,,,,,,,,,,,,,,,,,,,,,,?IIIZZ+=++++=++~~~~~~+I+?~~~,,,,,,,,,,:::::::::::::::
,,,,,,,,,,,,,,,,,,,,,,,,,,,?II$O$I+++==~~==+~~~~7???~~.,,,,,,,,,,:::::::::::::::
::,,,,,,,,,,,,,,,,,,,,,,,,~+I7Z88OZ+??ZZZ$7?~=I?Z8$=?~I.,,,,,,,,,:::::::::::::::
:::,,,,,,,,,,,,,,,,,,,,,,,=$?$OMMOO7III7$$I????OD8O8?~~..,,,,,,,::::::::::::::::
:::,,,,,,,,,,,,,,,,,,,,.:..~?+INMNDZ$I?+??=I?$OON8NI~I~....,:,,,::::::::::::::::
::,,,,,,,,,,,,,,,,,:~,:,,..,N??IMMNDOOZ7IZ$ZOZNDDDI=+:.....,...,::::::::::::::::
:::,,,,,,,,,:::,,:,,:,,:,.~::DII7OMMMZ88Z8ZDNM8N7==+8..............,::::::::::::
::::,,,,,,,,,,::,.,.~..=~..,,~8$??$7ZMNMMNMMMDZ$==?O,~...,...:..:......:::::::::
::::,:,,,,.,~.,=..~..:.=.,.,,:IZ7I?IIZ7$$$$I+?=++?O:..............,..  ...::~:::
:::::,,.,.,.,,.,,.:.:.,:~.:..:.?$7I???I?I??+++++7$~...,.~.........~.,..,.....,::
::::,,.,~....~..:.:,...:.,.,,.7?77II?+?+??++++?I$.Z,:.,.~.........,.:......., ..
::~,.......:.:..~.,,,..~..?:,,$~=7I??++=++=+++?7.$I..~..,.........,.:........ ..
,,.,..,....:.,..=.,....=...,.,II,I7I???===+++?7:+7.,.........:....,...........:.
.:....:....,.=..,......,...,~:~?,.II++++I?++??..I..........,.:........... ....,
.~...........~.,..~.......,,..$~.,?IIII7I?II77,,~.....~... ,.......... : . .....
...:.........,.,....:....:......,,.,~II+?+7$?..,....:....,.. ..... . ..,....,..,
....,..........,....,.,  ..~....?,..:........:.,..,.... ..... . .... , ...:.,...
,.:,....~.,....:..... ~....~.=....I,,.....,.....:.,...., .....:...., ...,.,.....
....,...,.,.........  ,........~....::,,.,..... ... ...: . ...,....,....,.....,.
,=.~,~... :.~....:.............,............,.+...., ~.,. . ,... ..,.. .........
,...,,.,. ..:.,..=.:....~.,.  ...... ...,.~.:.:....:.~.,.., :... ,.,. ,.........
..:....,......,..:.,....:.. ........ .....:.,... .., , .....,....:.,. ,.........
</pre>
