{% load customtags %}

<table class="table table-keys" id="person-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Geography Id</th>
      <th>Source url</th>
    </tr>
  </thead>
  <tbody>
    {% for organization in organizations %}
    <tr>
      <td><a href="{% url 'organization.jsonview' _id=organization.id %}">{{organization.name}}</td>
      <td>
        <a href="{% url 'geo.detail' organization.geography_id %}">
          {{organization.geography_id}}
        </a>
      </td>
      <td>{{organization.source_url}}</td>
      <td>
{% button organization 'organization.confirm_delete' 'delete' %}
        <span class="pull-right">&nbsp;&nbsp;</span>
{% button organization 'organization.edit' 'edit' %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
