{% extends "base.html" %}

{% block person_header %}
  <h1>
    <a href="/ocd/organization/">Organizations</a>
    &nbsp;/&nbsp;{{action}}
  </h1>
{% endblock %}

{% block content %}

  {% block organization_header %}
    <span class='pull-right'>
      <a href="{% url 'organization.create' %}">
        <button type="button" id="create" class="btn btn primary">Create new organization</button>
      </a>
    </span>
    <h1>
      <a href="{% url 'organization.create' %}">Organizations</a>
    </h1>
  {% endblock %}

  {% block organization_content %}
  {% endblock %}

{% endblock %}
