{% extends "base.html" %}
{% load humanize %}

{% block content %}
<h2>{{obj.name}}</h2>

  {% if obj.memberships.count %}
  <div>
    <table class="table">
      <tr class="error">
        <td>
          NOTE: {{obj.memberships.count|apnumber|title}} memberships associated with this organization will also be deleted.
        </td>
      </tr>
    </table>
  </div>
  {% endif %}

  <form action="{% url 'organization.delete' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" value="{{obj.id}}" name="_id"></input>
    <button type="submit" class="btn btn-danger">
      <i class="icon-remove"></i> Really delete this organization?
    </button>
  </form>

  <pre>
      {{obj.pretty_print}}
  </pre>

{% endblock %}
