{% extends "organization/base.html" %}
{% block viewname %}&nbsp;/&nbsp;confirm delete{% endblock %}
{% block organization_content %}
<h2>name: {{obj.name}}</h2>

  <form action="{% url 'organization.really_delete' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" value="{{obj.id_string}}" name="_id"></input>
    <button type="submit" class="btn btn-danger">
      <i class="icon-remove"></i> Really delete this organization?
    </button>
  </form>

  <div class="alert alert-error">
    {% if obj.people.count %}
      {{obj.people.count}} people documents are associated with this organization. Delete them as well?
      <ul>
      {% for person in obj.people %}
        <li><a href="{{person.detail_url}}">{{person.display}}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

  <pre>
      {{obj.pretty_print}}
  </pre>

{% endblock %}
