{% extends "organization/base.html" %}
{% block viewname %}&nbsp;/&nbsp;detail{% endblock %}
{% block organization_content %}


<h2>name: {{obj.name}}</h2>

  <form action="{% url 'organization.edit' _id=obj.id_string %}" method="GET">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">
      <i class="icon-pencil"></i> Edit this organization
    </button>
  </form>

  <form action="{% url 'organization.delete' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" value="{{obj.id_string}}" name="_id"></input>
    <button type="submit" class="btn btn-danger">
      <i class="icon-remove"></i> Delete this organization
    </button>
  </form>

<pre>
    {{obj.pretty_print}}
</pre>

<hr/>

{% if obj.people.count %}
<h2>Members</h2>
<table class="table table-striped">
  <tbody>
  {% for person in obj.people %}
    <tr>
      <td><a href="{% url 'person.detail' _id=person.id %}">{{person.name}}</td>
      <td>{{person.position}}</td>
      <td>{{person.organization.name}}</td>
      <td>
        <span class="pull-right">&nbsp;&nbsp;</span>
        <a class="btn pull-right" href="{% url 'person.edit' person.id %}">
          <i class="icon-pencil"></i>
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
This organization has no members yet.
{% endif %}
{% endblock %}
