{% extends "organization/base.html" %}
{% load staticfiles %}

{% block extra_head %}
<script src="{% static 'js/site/table_keys.js' %}"></script>
<style>
div.nopadding {
  margin-top: 0px;
  margin-bottom: 0px;
}

.inlineform {
  display: inline;
}

</style>
<script>
$(document).ready(function() {
  $(document).bind('keydown', 'c', function(){
    window.location = "{% url 'organization.create' %}";
  });
});
</script>
{% endblock extra_head %}

{% block organization_header %}
  <span class='pull-right'>
    <a href="{% url 'organization.create' %}">
      <button type="button" class="btn btn primary">Create new organization</button>
    </a>
  </span>
  <h1>Organizations</h1>
{% endblock %}

{% block organization_content %}
  {% include "organization/_table.html" %}
  {% with object_list=organizations %}
    {% include "_pagination.html" %}
  {% endwith %}
{% endblock %}
