Django>=1.5
nose
pymongo
requests>=1.0
django-storages
boto
-e git://github.com/sunlightlabs/django-locksmith.git#egg=django-locksmith
-e git://github.com/sunlightlabs/django-sunlightauth.git#egg=django-sunlightauth
