{% extends "organization/base.html" %}
{% block viewname %}&nbsp;/&nbsp;confirm delete{% endblock %}
{% block organization_content %}
<h2>name: {{obj.name}}</h2>

  <form action="{% url 'organization.really_delete' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" value="{{obj.id}}" name="_id"></input>
    <button type="submit" class="btn btn-danger">
      <i class="icon-remove"></i> Really delete this organization?
    </button>
  </form>

  <pre>
      {{obj_json}}
  </pre>

{% endblock %}
