{% extends "organization/base.html" %}
{% block viewname %}&nbsp;/&nbsp;detail{% endblock %}
{% block organization_content %}


<h2>name: {{obj.name}}</h2>

  <form action="{% url 'organization.edit' _id=obj.id %}" method="GET">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">
      <i class="icon-pencil"></i> Edit this organization
    </button>
  </form>

  <form action="{% url 'organization.delete' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" value="{{obj.id}}" name="_id"></input>
    <button type="submit" class="btn btn-danger">
      <i class="icon-remove"></i> Delete this organization
    </button>
  </form>

<pre>
    {{obj_json}}
</pre>

{% endblock %}
