{% load customtags %}
<table class="table table-keys" id="person-table">
  <thead>
    <tr>
      <th>Name</th>
      <th># Organizations</th>
    </tr>
  </thead>
  <tbody>
    {% for person in people %}
    <tr>
      <td><a href="{% url 'person.jsonview' _id=person.id %}">{{person.name}}</td>
      <td>{{person.memberships.count}}</td>
      <td>
{% button person 'person.confirm_delete' 'delete' %}
        <span class="pull-right">&nbsp;&nbsp;</span>
{% button person 'person.edit' 'edit' %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
