{% extends "base.html" %}
{% load humanize %}

{% block content %}
<h2>{{person.name}}</h2>

  {% if person.memberships.count %}
  <div>
    <table class="table">
      <tr class="error">
        <td>
          NOTE: {{person.memberships.count|apnumber|title}} memberships associated with this person will also be deleted.
        </td>
      </tr>
    </table>
  </div>
  {% endif %}

  <form action="{% url 'person.really_delete' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" value="{{person.id}}" name="_id"></input>
    <button type="submit" class="btn btn-danger">
      <i class="icon-remove"></i> Really delete this person?
    </button>
  </form>

  <pre>
      {{person.pretty_print}}
  </pre>

{% endblock %}
