{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
    <script src="{% static 'js/site/forms.js' %}"></script>
{% endblock extra_head %}

{% block content %}
<form method="POST">
{% csrf_token %}
<input type="hidden" name="_id" value="{{ person.id }}">

<table>
  <tbody>
  {% for field in form %}
    <tr>
      {% if not field.field.widget.is_hidden %}
        <td>{{ field.label }}:</td>
      {% endif %}
      <td>
        {{ field }}
        <span style="color: red;">{{ field.errors }}</span>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<hr/>


<div class="row well">
  <a class="btn add-another pull-right" data-fieldname='source'>
    <i class="icon-plus-sign"></i>
    Add another
  </a>
  <h2>Sources</h2>
  <table class="table formtable" id="sources">
    <thead>
      <tr>
        <th>URL</th>
        <th>Note</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% if form.is_bound %}
      {% for source in form.sources %}
      <tr>
        <td><input id="id_source_url" name="source_url" type="text" value="{{source.url}}"/></td>
        <td><input id="id_source_note" name="source_note" type="text" value="{{source.note}}"/></td>
        <td>
          <button class="btn remove-row">
            <i class="icon-remove"></i>
          </button>
        </td>
      </tr>
      {% endfor %}
    {% endif %}
      <tr class='row-template' data-fieldname='source'>
        <td>{{form.source_url}}</td>
        <td>{{form.source_note}}</td>
        <td>
          <button class="btn remove-row">
            <i class="icon-remove"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row well">
  <a class="btn add-another pull-right" data-fieldname='alternate-name'>
    <i class="icon-plus-sign"></i>
    Add another
  </a>
  <h2>
    <a href="http://dublincore.org/documents/dcmi-terms/#terms-alternative">Alternate Names</a>
  </h2>
  <table class="table formtable" id="alternate-names">
    <thead>
      <tr>
        <th>Note</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% if form.is_bound %}
      {% for name, note in form.alt_names %}
      <tr>
        <td>
          <select id="id_alternate_name_type" name="alternate_name_note">
            {% for val, display in form.fields.alternate_name_note.widget.choices %}
              <option value="{{val}}" {% if val == note %}selected{% endif %}>{{display}}</option>
            {% endfor %}
          </select>
        </td>
        <td><input id="id_alternate_name_name" name="alternate_name_name" type="text" value="{{name}}"/></td>
        <td>
          <a class="btn remove-row">
            <i class="icon-remove"></i>
          </a>
        </td>
      </tr>
      {% endfor %}
    {% endif %}
      <tr class='row-template' data-fieldname='alternate-name'>
        <td>
          <select id="id_alternate_name_note" name="alternate_name_note">
            <option value="" selected="selected"></option>
            <option value="first">first</option>
            <option value="last">last</option>
            <option value="nickname">nickname</option>
          </select>
        </td>
        <td>
          <input id="id_alternate_name_name" name="alternate_name_name" type="text" />
        </td>
        <td>
          <a class="btn remove-row">
            <i class="icon-remove"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row well">
  <a class="btn add-another pull-right" data-fieldname='external-link'>
    <i class="icon-plus-sign"></i>
    Add another
  </a>
  <h2><a href="http://www.w3.org/TR/rdf-schema/#ch_seealso">External Links</a></h2>
  <table class="table formtable" id="external-links">
    <thead>
      <tr>
        <th>URL</th>
        <th>Note</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% if form.is_bound %}
      {% for link in form.links %}
      <tr>
        <td><input id="id_link_url" name="link_url" type="text" value="{{link.url}}"/></td>
        <td><input id="id_link_note" name="link_note" type="text" value="{{link.note}}"/></td>
        <td>
          <button class="btn remove-row">
            <i class="icon-remove"></i>
          </button>
        </td>
      </tr>
      {% endfor %}
    {% endif %}
      <tr class='row-template' data-fieldname='external-link'>
        <td>{{form.link_url}}</td>
        <td>{{form.link_note}}</td>
        <td>
          <button class="btn remove-row">
            <i class="icon-remove"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row well">
  <a class="btn add-another pull-right" data-fieldname='contact'>
    <i class="icon-plus-sign"></i>
    Add another
  </a>
  <h2><a href="http://popoloproject.com/data.html#Address">Contact</a></h2>
  <table class="table formtable" id='contact'>
    <thead>
      <tr>
        <th>Type</th>
        <th>Value</th>
        <th>Note</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% if form.is_bound %}
{% include "contact_details.html" %}
    {% endif %}
      <tr class='row-template' data-fieldname='contact'>
        <td>
          {{form.contact_type}}
        </td>
        <td>
          {{form.contact_value}}
        </td>
        <td>
          {{form.contact_note}}
        </td>
        <td>
          <button class="btn remove-row">
            <i class="icon-remove"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<input type="submit" value="Submit">
</form>
{% endblock %}
