{% extends "base.html" %}
{% block content %}

<div class="container">
  <h2 class="pull-left">{{person.name}}</h2>
  <form action="{% url 'person.delete' %}" method="POST" class="pull-right">
    {% csrf_token %}
    <input type="hidden" value="{{person.id}}" name="_id"></input>
    <button type="submit" class="btn btn-danger" id="delete">
      <i class="icon-remove"></i>
    </button>
  </form>
  <span class="pull-right">&nbsp;</span>
  <form action="{% url 'person.edit' %}" method="GET" class="pull-right">
    {% csrf_token %}
    <input type="hidden" value="{{person.id}}" name="_id"></input>
    <button type="submit" class="btn btn-primary" id="edit">
      <i class="icon-pencil"></i>
    </button>
  </form>
</div>

<div>
  <ul class="nav nav-pills">
    <li class="active"><a href="#json">json</a></li>
    <li><a id="memberships" href="{% url 'person.memb.listing' person.id %}">memberships</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="json">
      <h3>json</h3>
      <pre>
          {{person.pretty_print}}
      </pre>
    </div>
    <div class="tab-pane" id="memberships">
    </div>
  </div>
</div>
{% endblock %}
