{% extends "base.html" %}
{% load customtags %}
{% block content %}

<div class="container">
  <h2 class="pull-left">{{person.name}}</h2>
{% button person 'person.confirm_delete' 'delete' %}
  <span class="pull-right">&nbsp;</span>
{% button person 'person.edit' 'edit' %}
</div>

<div>
  <ul class="nav nav-pills">
    <li class="active"><a href="#json">json</a></li>
    <li><a id="memberships" href="{% url 'person.memb.listing' person.id %}">memberships</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="json">
      <h3>json</h3>
      <pre>
          {{person.pretty_print}}
      </pre>
    </div>
    <div class="tab-pane" id="memberships">
    </div>
  </div>
</div>
{% endblock %}
