{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
<script src="{% static 'js/site/table_keys.js' %}"></script>
<style>
div.nopadding {
  margin-top: 0px;
  margin-bottom: 0px;
}

.inlineform {
  display: inline;
}
</style>
{% endblock extra_head %}

{% block content %}
  <span class='pull-right' style="padding-left: 5px;">
    <a href="{% url 'person.find' %}">
    <button type="button" id="find" class="btn">
      <i class="icon icon-search"></i>
    </button>
    </a>
  </span>
  <span class='pull-right'>
    <a href="{% url 'person.create' %}">
    <button type="button" id="create" class="btn">Create new person</button>
    </a>
  </span>
  {% include "person/_table.html" %}
  {% with object_list=people %}
    {% include "_pagination.html" %}
  {% endwith %}
{% endblock %}
