<table class="table table-keys" id="membership-table">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Post id</th>
    </tr>
  </thead>
  <tbody>
    {% for memb in obj.memberships %}
    <tr>
      <td>
        <a href={{memb.person.jsonview_url|safe}}>
          {{memb.person.display}}</td>
        </a>
      </td>
      <td>{{memb.post_id}}</td>
      <td>
        <form action="{% url 'org.memb.delete' %}" method="POST" class="inlineform pull-right item-delete">
          {% csrf_token %}
          <input type="hidden" value="{{memb.id}}" name="_id"></input>
          <button type="submit" class="btn">
            <i class="icon-remove"></i>
          </button>
        </form>
        <span class="pull-right">&nbsp;&nbsp;</span>
        <a href="{% url 'memb.edit' memb.id %}" class="btn item-edit pull-right">
          <i class="icon-edit"></i>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
