{% load customtags %}

<table class="table table-keys" id="membership-table">
  <thead>
    <tr>
      <th>Organization</th>
      <th>Post id</th>
    </tr>
  </thead>
  <tbody>
    {% for memb in obj.memberships %}
    <tr>
      <td>
        <a href="{% url 'memb.jsonview' memb.id %}">
          {{memb.person.display}}</td>
        </a>
      </td>
      <td>{{memb.post_id}}</td>
      <td>
{% button memb 'org.memb.confirm_delete' 'delete' %}
        <span class="pull-right">&nbsp;&nbsp;</span>
{% button memb 'memb.edit' 'edit' %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
