{% extends "base.html" %}
{% load staticfiles %}
{% load customtags %}

{% block extra_head %}
  <script src="{% static 'js/site/table_keys.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container">
  <h2 class="pull-left">{{obj.name}}</h2>
{% button obj 'organization.confirm_delete' 'delete' %}
  <span class="pull-right">&nbsp;</span>
{% button obj 'organization.edit' 'edit' %}
</div>

<div>
  <ul class="nav nav-pills">
    <li><a id="jsonview" href="{% url 'organization.jsonview' obj.id %}">json</a></li>
    <li class="active"><a id="membership" href="{% url 'org.memb.listing' obj.id %}">members</a></li>
  </ul>
  <div>
    <form action="{% url 'org.memb.add.person' obj.id %}" method="GET" class="pull-right">
      <button id="add-memb" type="submit" class="btn">
        <i class="icon-plus-sign"></i>
        Add another
      </button>
    </form>
    <h3>memberships</h3>
    {% include "organization/memb/_table.html" %}
  </div>
</div>

<hr/>
{% endblock %}
