{% extends "memb/base.html" %}
{% load customtags %}
{% block viewname %}&nbsp;/&nbsp;confirm delete{% endblock %}
{% block memb_content %}
<h2>{{memb.name}}</h2>

  <form action="{% url 'memb.delete' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" value="{{memb.id}}" name="_id"></input>
    <button type="submit" class="btn btn-danger">
      <i class="icon-remove"></i> Really delete this membership?
    </button>
  </form>

  <pre>
      {{memb.pretty_print}}
  </pre>

{% endblock %}
