{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
    <script src="{% static 'js/site/forms.js' %}"></script>
{% endblock extra_head %}

{% block content %}
<h3>
  Edit <a href={% url 'person.jsonview' obj.person.id %}>{{obj.person.display}}'s</a> membership in
  <a href={% url 'organization.jsonview' obj.organization.id %}>{{obj.organization.display}}</a>.
</h3>
<form method="POST">
{% csrf_token %}
<input type="hidden" name="_id" value="{{ obj.id }}">

<table>
  <tbody>
  {% for field in form %}
    <tr>
      <td>{{ field.label }}:</td>
      <td>
        {{ field }}
        {% if field.field.required %}
          <span style="color: red;">*</span>
        {% endif %}
       <span style="color: red;">{{ field.errors }}</span></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<hr/>

<div class="row well">
  <a class="btn add-another pull-right" data-fieldname='sources'>
    <i class="icon-plus-sign"></i>
    Add another
  </a>
  <h2>Sources</h2>
  <table class="table formtable" id="sources">
    <thead>
      <tr>
        <th>URL</th>
        <th>Note</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% if form.is_bound %}
      {% for obj in form.sources %}
      <tr>
        <td><input id="id_source_url" name="source_url" type="text" value="{{obj.url}}"/></td>
        <td><input id="id_source_note" name="source_note" type="text" value="{{obj.note}}"/></td>
        <td>
          <button class="btn remove-row">
            <i class="icon-remove"></i>
          </button>
        </td>
      </tr>
      {% endfor %}
    {% endif %}
      <tr class='row-template' data-fieldname='external-link'>
        <td>{{form.source_url}}</td>
        <td>{{form.source_note}}</td>
        <td>
          <button class="btn remove-row">
            <i class="icon-remove"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row well">
  <a class="btn add-another pull-right" data-fieldname='contact'>
    <i class="icon-plus-sign"></i>
    Add another
  </a>
  <h2><a href="http://popoloproject.com/data.html#Address">Contact</a></h2>
  <table class="table formtable" id='contact'>
    <thead>
      <tr>
        <th>Type</th>
        <th>Value</th>
        <th>Note</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% if form.is_bound %}
{% include "contact_details.html" %}
    {% endif %}
      <tr class='row-template' data-fieldname='contact'>
        <td>
          {{form.contact_type}}
        </td>
        <td>
          {{form.contact_value}}
        </td>
        <td>
          {{form.contact_note}}
        </td>
        <td>
          <button class="btn remove-row">
            <i class="icon-remove"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<input type="submit" value="Submit">
</form>
{% endblock %}
