{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
  {% if debug %}
    <script src="{% static 'js/typeahead.js' %}"></script>
    <script src="{% static 'js/hogan-2.0.0.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/typeahead.js-bootstrap.css' %}">
  {% else %}
    <script src="{% static 'js/typeahead.min.js' %}"></script>
    <script src="{% static 'js/hogan-2.0.0.min.js' %}"></script>
  {% endif %}
  <link rel="stylesheet" href="{% static 'css/typeahead.js-bootstrap.css' %}">
  <script src="{% static 'js/site/geo-select.js' %}"></script>
{% endblock extra_head %}

{% block content %}

<h1>Select a place</h1>
<div class="container">
  {% comment %}
  Note: the form needs "navbar-form" as a class in order for the
  typeahead plugin to play nicely with bootstrap's styles.
  More info in issue #164: https://github.com/twitter/typeahead.js/issues/164.
  {% endcomment %}
  <form id="geo-form" class="navbar-form" method="POST" action="{% url 'geo.select' %}">
    <div class="row-fluid">
      <div class="span7" id="inputs">
          {% csrf_token %}
      </div>
      <div class="span5 well">
        <h3>Instructions</h3>
        <p>
          Start typing a state, then select it search again for
          a place located within the state. Then click on the
          enter button to submit.
        </p>
        <input type="hidden" name="id" id="final-id">
        <p><input type="submit" class="btn" value="Submit"></p>
      </div>
    </div>
  </form>
</div>
{% endblock content %}
