{% extends "person/base.html" %}
{% block viewname %}&nbsp;/&nbsp;confirm delete{% endblock %}
{% block person_content %}
<h2>name: {{person.name}}</h2>

  <form action="{% url 'person.really_delete' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" value="{{person.id}}" name="_id"></input>
    <button type="submit" class="btn btn-danger">
      <i class="icon-remove"></i> Really delete this person?
    </button>
  </form>

  <pre>
      {{person.pretty_print}}
  </pre>

{% endblock %}
