{% extends "base.html" %}
{% load staticfiles %}

{% block extra_head %}
<style>
span.silly {
  font-family: 'Herr Von Muellerhoff', cursive;
  color: #E01B5D;
  font-size: 100px;
}
.ah-ah-ah {
  width: 500px ;
  margin-left: auto ;
  margin-right: auto ;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
  <h1>403 <span class="muted">Permission denied</span></h1>
  <p class="lead">Aha! You tried to edit a record. In addition to being awesome, that is also forbidden, as awesome things frequently are.
  </p>
  <h3>How permissions work</h3>
  <p>
    The permissions system is centered around organizations for the time being, such that you can edit a person's details if you have permission to edit any organization the person is a member of. Having permission to edit an organization also confers the ability to create new people as members of the organization. The remaining actions are only available to admins:
    <ul>
      <li>creating and deleting organizations</li>
      <li>deleting people</li>
      <li>adding an existing person as a member of an existing org</li>
      <li>creating a new standalone person (i.e., not as a member of an org)</li>
      <li>deleting memberships</li>
  </p>
</div>
{% endblock %}
